form {
  width: 300px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
}

form h1 {
  color: #0f2027;
  text-align: center;
}

form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;
}

form button:hover {
  cursor: pointer;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-control input {
  border: 2px solid #101010;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 12px;
}